<div class="form-group">
    <label class="checkbox-inline">
        <input type="radio" name="question_level" id="optionsRadios1" value="0" checked> 简单
    </label>
    <label class="checkbox-inline">
        <input type="radio" name="question_level" id="optionsRadios2"  value="1"> 中等
    </label>
    <label class="checkbox-inline">
        <input type="radio" name="question_level" id="optionsRadios3"  value="2"> 困难
    </label>
</div>