<div class="ibox-tools" id="question_nav">
    <a  class="btn  btn-xs" href="{{ path('course_questions', {'id': course.id}) }}" >单选题</a>
    <a  class="btn  btn-xs" href="{{ path('course_multiple_choice', {'id': course.id}) }}" >多选题</a>
    <a  class="btn  btn-xs" >判断题</a>
    <a  class="btn  btn-xs" >填空题</a>
    <a  class="btn  btn-xs" >简答题</a>
</div>